@charset "UTF-8";
body main {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	position: relative;
}
header {
	background-color: #FFFFFF;
	padding-top: 1px;
	margin-bottom: 40px;
	width: auto;
	height: 76px;
	padding-right: 100px;
	padding-left: 100px;
}
header h1 {
	background-color: #4AAAA5;
	color: #FFFFFF;
	width: 276px;
	border: thick solid #4DAAA5;
	margin-top: 12px;
}


nav {
	word-spacing: 30px;
	float: right;
	width: 265px;
	margin-top: 30px;
}
body main article {
	width: 650px;
	background-color: #ffffff;
	position: relative;
	border: 20px solid #FFFFFF;
}
footer {
	border-top: medium solid #4CADA8;
	/* [disabled]padding-top: 31px; */
	margin-top: 94px;
	text-align: justify;
	vertical-align: middle;
}
aside {
	width: 270px;
	float: right;
	background-color: #FFFFFF;
	text-align: center;
	position: relative;
	padding-right: 0px;
	margin-right: -40px;
	padding-bottom: 20px;
}
h2 {
	border-bottom: thin solid #C6C6C6;
	text-align: left;
	color: #4AAAA5;
}
h3 {
	color: #4DAAA5;
	border-bottom: thin solid #E6E6E6;
}
body footer {
	background-color: #404040;
	height: 50px;
	color: #989595;
	text-align: center;
}
body {
	background-image: url(../images/background.png);
	color: #777777;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin: 0 auto;
	position: relative;
}
#biopic {
	float: left;
	margin-right: 24px;
	margin-bottom: 13px;
}
input {
	width: 100%;
}
#submit {
	width: 25%;
}
